.App {
  text-align: center;
}

/* Primary Button */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3b82f6;
}

/* Secondary Button */
.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #e5e7eb;
}

/* Spacing utilities */
.spacing-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacing-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacing-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spacing-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Text utilities */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Flex utilities */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card styles */
.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .description {
  width: 500px;
}

.card p,
h4 {
  padding: 15px;
}

.card img {
  width: 70px;
  padding: 15px;
}

.ProductDetailsPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ProductDetailsPage img {
  width: 280px;
  padding: 10px;
}

.ProductDetailsPage h2 {
  font-size: 2rem;
  font-weight: 800;
  padding: 10px;
}

.tag {
  padding: 10px;
  background-color: #3b82f6;
  border-radius: 5px;
}

.full-page-description {
  padding: 20px;
  width: 80%;
}

.hor-line {
  background-color: rgba(128, 128, 128, 0.517);
  width: 85%;
  height: 1px;
  margin: 20px;
}

.btn-back {
  background-color: darkseagreen;
  padding: 10px 30px;
  color: white;
  font-size: 2rem;
}

.content {
  transition: margin-left 0.4s ease-in-out;
}

.content.shifted {
  margin-left: 250px;
}
